<%- include("../templates/encabezado")%> 
<%- include("../templates/menu")%>
<div class="container mt-5">
  <form action="/editar" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h3>Modificar Usuario:  <%= user.id%></h3>  <!--recupera datoooos de usuario-->
        </div>
        <div class="card-body">
           <input type="hidden" name="id" id="id" value="<%= user.id%>"> <!-- aqui ibaaaaa el id -->
            <input class="form-control mb-3" type="text" value="<%= user.nombre%>" name="nombre" id="nombre" placeholder="Nombre" autofocus autocomplete="name">
            <input class="form-control mb-3" type="text" value="<%= user.usuario%>" name="usuario" id="usuario" placeholder="Usuario">
            <input type="hidden" name="PasswordViejo" id="PasswordViejo" value="<%= user.password%>">
            <input class="form-control mb-3" type="password"  name="password" id="password" placeholder="Escribe un nuevo Password o en blanco para conservarlo " autocomplete="current-password">
            <input class="form-control mb-3" type="number" value="<%= user.edad%>" name="edad" id="edad" placeholder="edad">
            <input type="hidden" name="fotoVieja" id="fotoVieja" value="<%= user.foto%>">
            <img src="/images/<%= user.foto%>" height="80px" width="70px">
            <input class="form-control mb-3" type="file"  value="<%= user.foto%>" name="foto" id="foto" >
          </div>
        <div class="card-footer">
            <button type="submit" class="form control btn btn-success" type="submit">Modificar Usuario</button>
        </div> 
      </div>
  </form>
</div>
  <%- include("../templates/pie")%>